.App {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 80px 1fr 80px;
  height: 100vh;
}

header{
  background-color: salmon;
  grid-column: 1/5;
  grid-row: 1/2;
}

nav{
  background-color: magenta;
  grid-column: 1/5;
  grid-row: 2/3;
}

aside{
  background-color: aqua;
  grid-column: 1/2;
}

main{
  background-color: yellowgreen;
  grid-column: 2/5;
}

footer{
  background-color: coral;
  grid-column: 1/5;
}